<!DOCTYPE html>
<html lang="en">
<!--ADAPTED FROM TEMPLATE at https://getbootstrap.com/docs/4.0/components/card/-->

<head>

    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">

    <title>Shockwave - Login</title>
<!--    <link href="{{ url_for('static', filename = 'images/favicon.ico') }}" rel="shortcut icon">-->

<!--    <link href="{{url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">-->
<!--    <link href="{{url_for('static',filename='vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet"-->
<!--          type="text/css">-->
<!--    <link href="{{url_for('static',filename='css/sb-admin.css')}}" rel="stylesheet">-->

</head>

<body class="bg-dark">

<div class="container">
    <div class="card card-login mx-auto mt-5">
        <div class="card-header">Login</div>
        <div class="card-body">

            {% include 'includes/_messages.html' %}
            <form action="" method="POST">
                <div class="form-group">
                    <div class="form-label-group">
                        <input autofocus="autofocus" class="form-control" id="inputUsername" name="username"
                               placeholder="Username" required="required" type="text"
                               value={{request.form.username}}>
                        <label for="inputUsername">Username</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-label-group">
                        <input autofocus="autofocus" class="form-control" id="inputPassword" name="password"
                               placeholder="Password" required="required" type="password"
                               value={{request.form.password}}>
                        <label for="inputPassword">Password</label>
                    </div>
                </div>
                <button class="btn btn-primary btn-block" type="submit">Login</button>
            </form>


            <div class="text-center">
                <a class="d-block small mt-3" href="register">Don't have an account? Register now.</a>
                <a class="d-block small mt-3" href="/">Home Page</a>
            </div>
        </div>
    </div>
</div>

<!--<script src="{{url_for('static',filename='vendor/jquery/jquery.min.js')}}"></script>-->
<!--<script src="{{url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>-->
<!--<script src="{{url_for('static',filename='vendor/jquery-easing/jquery.easing.min.js')}}"></script>-->

</body>

</html>